<div class="container text-bg-success text text-center fst-italic"><h1>Bienvenido a la seccion de clinica medica</h1>
<hr>
</div>
<hr>
<div class="container row text-center m-5">
    <div class="card" style="width: 18rem;">
    <img src="https://www.metabolismopleno.com/wp-content/uploads/2020/04/imc.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">IMC</h5>
        <p class="card-text">Aquí tenemos una calculadora de IMC.!Pruebalo¡</p>
        <a href="/" class="btn btn-primary stretched-link">Probar</a>
    </div>
</div>
<div class="card" style="width: 18rem;">
    <img src="https://cdn-icons-png.flaticon.com/512/7263/7263204.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">EAB</h5>
        <p class="card-text">Aqui podras calcular el estado de acido base.</p>
        <a href="/" class="btn btn-primary stretched-link">Probar</a>
    </div>
</div>
</div>