<div class="container text-center text-bg-dark fst-italic">
    <hr>
    <h1>Bienvenidos a MedicARG </h1>
    <hr>
</div>
<hr>
<div class="container text-bg-info text-center fst-italic"><h3>¿Cual es nuestra funcion?</h3>
    <div class="container text-bg-info text-center fst-italic"><h5>
        Nuestra app busca darle acceso al personal de salud a calculadoras programadas para ejecutar los calculos mas tipicos usados por la medicida actual.
        
    </h5></div>

</div>

<div id="carouselExampleFade" class="carousel slide carousel-fade m-5" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://images.latribuna.cl/2022/10/operacion-by-pass-cardiaco-en-Hospital-de-Los-Angeles-1.jpeg" class="d-block w-100" width="800" height="600" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Terapia Coronaria</h5>
                <p>Aquí encontrarás los cálculos mas usados en esta area.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.infobae.com/new-resizer/pd5dVshx_wvldQPlyvsJl-Q_K_o=/992x661/filters:format(webp):quality(85)/cloudfront-us-east-1.images.arcpublishing.com/infobae/AMIXAISCFJGSTPSMAMFRRFSQQE.jpg" class="d-block w-100" width="800" height="600"  alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Terapia Intensiva</h5>
                <p>Aquí encontrarás los cálculos mas usados en esta area.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="https://www.clinicadelvalle.com.ar/wp-content/uploads/2021/05/coronavirus-sample-procedure-1536x1229.jpg" class="d-block w-100" width="800" height="600"  alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>Clínica Médica</h5>
                <p>Aquí encontrarás los cálculos mas usados en esta area.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>