<div class="container text-bg-success text text-center fst-italic">
    <hr>
    <h1>REGISTRO</h1>
    <hr>
    <h4>Aquí puedes registrarte y utilizar nuestro e.comerce</h4>
</div>
<hr>
<div class="container m-5">
    <form action="/registro" method="post">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">Coloca tu mail...</div>
        </div>
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="passw" name="passw" aria-describedby="contraseña" required>
            <div id="contraseña" class="form-text">Coloca tu contraseña...
        </div>

        <div class="text-center"><button type="submit" class="btn btn-primary w-75">Aplicar</button></div>
    </form>
</div>